In [ ]:
#our first thing is below commnd for using specific database

use Databasename;


use AR_SaaS;

In [ ]:
#create new table in database:

CREATE TABLE vivek (
    name VARCHAR(100) NOT NULL,
    id INT AUTO_INCREMENT PRIMARY KEY,
    age INT,
    email VARCHAR(100),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

In [ ]:
# for adding speicifc column in Table 

ALTER TABLE table_name
ADD COLUMN column_name column_definition;


ALTER TABLE vivek
ADD COLUMN new_column VARCHAR(255);

In [ ]:
#to delete (drop) a specific column from an existing table in SQL:

ALTER TABLE table_name
DROP COLUMN column_name;


ALTER TABLE vivek
DROP COLUMN new_column;

In [ ]:
#for renaming the exisitng table :

RENAME TABLE vivek TO vivek_old;

In SQL, you generally cannot change the order of columns in an existing table directly. However, you can achieve this by following these steps:

### Steps to Change Column Order:
1. **Rename the Existing Table** (backup).
2. **Create a New Table** with the Desired Column Order.
3. **Copy Data from the Old Table** to the New Table.
4. **Drop the Old Table**.
5. **Rename the New Table** to the Original Table Name.

### Example:
Assume the existing table `vivek` has columns in this order: `id`, `name`, `age`, `email`, `created_at`. You want to make `name` the first column.

#### Step 1: Rename the Existing Table
```sql
RENAME TABLE vivek TO vivek_old;
```

#### Step 2: Create a New Table with Desired Column Order
```sql
CREATE TABLE vivek (
    name VARCHAR(100) NOT NULL,
    id INT AUTO_INCREMENT PRIMARY KEY,
    age INT,
    email VARCHAR(100),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
```

#### Step 3: Copy Data from Old Table to New Table
```sql
INSERT INTO vivek (name, id, age, email, created_at)
SELECT name, id, age, email, created_at
FROM vivek_old;
```

#### Step 4: Drop the Old Table
```sql
DROP TABLE vivek_old;
```

#### Step 5: Verify the New Table
You can verify the column order using:
```sql
DESCRIBE vivek;
```

Now the `name` column will appear first in the table `vivek`.

Would you like any help automating these steps or ensuring data integrity?